<div class="container">
<div>
  <h1>Feature to cover in this usecase</h1>
  <ul>
    <li *ngFor="let point of solutionPoints">{{ point }}</li>
  </ul>
</div>
<div>
  <h2>Example of Nested Object input</h2>
  <p>This is an input example of a nested object containing ISO date strings:</p>
  <img src="assets/nestedObject.png" alt="Example of Nested Object" width="500" height="auto">
</div>
<div>
  <h2>Example of Nested Object output</h2>
  <p>This is an output example of a nested object containing Date objects:</p>
  <img src="assets/expectedOutput.png" alt="Example of Nested Object" width="500" height="auto">
</div>
</div>